@media screen and (max-width: 1300px) {
    .controls-panel {
        display: none !important;
    }
    .add-button {
        right: 50% !important;
        transform: translate(50%, 0) !important;
    }
}