.form-wrapper {

    p,
    h1,
    h2,
    span {
        display: block;
    }

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        display: flex;
        flex-direction: column;
        padding: 16px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 10px;
        width: 100%;
        max-width: 800px;
        min-width: 320px;

        .form-header {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .form-header-container {
                display: flex;
                width: 66.6%;

                .close-icon-container {
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;

                    button {
                        width: 30px;
                        height: 30px;

                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }

                h1 {
                    padding: 32px 0 48px 0;
                    width: 50%;
                    text-align: center;
                    font-size: 1.75rem;
                    font-weight: 500;
                }
            }
        }
    }
}