.quiz-set-up-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f9;
}

.quiz-form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        text-align: center;
        color: #333;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            font-weight: 600;
            color: #555;
        }

        input, textarea {
            padding: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
            outline: none;
            transition: 0.3s;

            &:focus {
                border-color: #007bff;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
            }
        }

        textarea {
            resize: none;
            height: 10rem;
        }
    }

    .buttons-container {
        display: flex;
        gap: 1rem;
        .button {
            padding: 0.8rem;
            text-align: center;
            width: 100%;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.3s;
        }
    
        .continue-btn {
            background-color: rgb(0, 160, 0);
    
            &:hover {
                background: rgb(0, 179, 0);
            }
            &:active {
                transform: scale(0.95);
            }
        }
    
        .cancle-btn {
            background-color: rgb(160, 0, 0);
    
            &:hover {
                background: rgb(218, 0, 0);
            }
            &:active {
                transform: scale(0.95);
            }
        }
    }
}
